# Railway MySQL (Production)
# MYSQLHOST=your-railway-host.railway.app
# MYSQLPORT=3306
# MYSQLDATABASE=railway   # biasanya otomatis "railway" atau nama yang kamu set
# MYSQLUSER=root
# MYSQLPASSWORD=your_strong_password

# Untuk testing lokal (opsional)
 DB_HOST=localhost
 DB_NAME=linkhub
 DB_USER=root
 DB_PASS='anonymous29'